/* istanbul ignore file */
/* eslint-disable */
export const environment: {
kushkiUrl: string;
webSocketMassiveUrl: string;
envName: string;
devTools: boolean;
} = {
kushkiUrl: "{{{KUSHKI_URL}}}",
webSocketMassiveUrl: "{{{KUSHKI_URL_WS}}}",
envName: "{{{ENVNAME}}}",
devTools: false,
};
